/* project.css */

.projects {
    padding: 40px 0;
    background-color: #f8f9fa; /* Set a light background color */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    width: calc(33.333% - 15px);
    margin-bottom: 30px;
}

.card {
    border: none; /* Remove border */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; /* Rounded corners on top */
}

.card-body {
    padding: 20px;
    background-color: #fff; /* White background for card body */
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* Darken text color */
}

.card-text {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555; /* Darken text color */
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.link-icon {
    margin-left: 5px;
}

@media (max-width: 768px) {
    .project-item {
        width: calc(50% - 15px);
    }
}

@media (max-width: 576px) {
    .project-item {
        width: 100%;
    }
}
